/*****tag selectors****/




h1 {
    color: red;
    font-size: 100px;
}

img:hover{
    background: blue;
}

/*****Class Selectors*****/

.bacon {
  background-color: green;
}

.broc {
  background-color: red;
}

/*****ID selectors*/

#heading {
color: blue;

}
